In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/ratings_Movies_and_TV.csv',usecols=[0,1,2],names=['userId','itemId','rating'])

In [3]:
df.head()

           userId      itemId  rating
0  A3R5OBKS7OM2IR  0000143502     5.0
1  A3R5OBKS7OM2IR  0000143529     5.0
2   AH3QC2PC1VTGP  0000143561     2.0
3  A3LKP6WPMP9UKX  0000143588     5.0
4   AVIY68KEPQ5ZD  0000143588     5.0

In [4]:
df.to_parquet('data/ratings_Movies_and_TV.gzip',compression='gzip',index=False)

In [2]:
df=pd.read_parquet('data/ratings.gzip')

In [5]:
len(df)

4607047

In [6]:
ar=df.to_numpy()

In [7]:
dicoId={}
dicoAr={}
t=len(ar)
idCpt=1
for i in range(t):
    ID=ar[i,0]
    if ID in dicoId :
        dicoAr[dicoId[ID]].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
    else :
        dicoId[ID]=idCpt
        dicoAr[idCpt]=list()
        dicoAr[idCpt].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
        idCpt+=1

In [8]:
listAR=list()
for i in dicoAr:
    listAR+=dicoAr[i]

In [9]:
len(listAR)==len(df)

True

In [10]:
len(df)

4607047

In [11]:
listARbis=list()
pas=100000
n=len(listAR)//pas
for i in range(n):
    listARbis.append(np.concatenate(listAR[i*pas:(i+1)*pas]))
listARbis.append(np.concatenate(listAR[n*pas:]))

In [12]:
arbis=np.concatenate(listARbis)

In [13]:
len(arbis)

4607047

In [14]:
dfbis=pd.DataFrame({'userId':arbis[:,0],'movieId':arbis[:,1],'itemId':arbis[:,2]})

In [15]:
dfbis.head()

  userId     movieId itemId
0      1  0000143502    5.0
1      1  0000143529    5.0
2      1  B000UMMA8I    4.0
3      2  0000143561    2.0
4      2  B00005Y3ZM    5.0

In [16]:
dfbis.to_parquet('data/ratings.gzip',compression='gzip',index=False)