In [1]:
import pandas as pd
import numpy as np
from math import sqrt

In [2]:
def inteName(i):
    if i==0:
        return "1-9"
    elif i<10:
        return str(int(i*10))+"-"+str(int(i*10+9))
    elif i>=50:
        return 'sup500'
    else :
        return str(int(i*10))+"-"+str(int(i*10+49))

In [5]:
dicoDf={}
for i in range(10) :
    dicoDf[i]=pd.read_csv('data/prediction_1_fold_'+str(i)+'.csv')

In [6]:
listDF=dicoDf.values()

In [7]:
dicoDf[0].head()

,userId,movieId,rating,Predicted ratings BaselineOnly,Predicted ratings SVD,Predicted ratings NMF
0,1,B000UMMA8I,4.0,4.365701,4.428419,3.897031
1,2,0000143561,2.0,4.064293,4.060346,4.152851
2,3,6302767741,5.0,4.555602,4.560370,4.760313
3,3,6304285116,5.0,4.200044,4.354454,3.852376
4,3,B000077VRZ,5.0,4.034638,4.156537,3.400728

In [6]:
algoListe=["SVD", "NMF", "SlopeOne", "CoClustering",
           "NormalPredictor","BaselineOnly", "SVDpp",
           "KNNBasic", "KNNWithMeans", "KNNBaseline", "KNNWithZScore"]

In [8]:
for df in listDF:
    for name in algoListe[:6]:
        df["error "+name]=abs(df["rating"]-df["Predicted ratings "+name])

In [11]:
ncol=list(dicoDf[0])

In [12]:
ncol[9]

'error SVD'

In [14]:
d={}
ar=df.to_numpy()

In [19]:
def rmse(l):
    s=0
    for i in l:
        s+=i*i
    return sqrt(s/len(l))

def avg(l):
    s=0
    for i in l:
        s+=i
    return s/len(l)

In [20]:
nameColumms=['UserId','Number of rated movies in the training dataset','Number of rated movies in the testing dataset']
for name in algoListe[:6] :
    nameColumms.append('RMSE '+name+', per user')
for name in algoListe[:6] :
    nameColumms.append('MAE '+name+', per user')

In [22]:
listDfRes=list()
for fold in range(10):
    d={}
    ar=dicoDf[fold].to_numpy()
    t=len(ar)
    for i in range(t) :
        ID=ar[i,0]
        if ID not in d :
            d[ID]={}
            for j in range(6) :
                d[ID][j]=[ar[i,j+9]]
        else :
            for j in range(6) :
                d[ID][j].append(ar[i,j+9])

    dfDico=pd.read_csv('dataCV3/user-nbRating_fold_'+str(fold)+'.csv')
    dRatingsTrain={}
    dRatingsTest={}
    for index, row in dfDico.iterrows():
        dRatingsTrain[row['userId']]=row['NBRatingTrain']
        dRatingsTest[row['userId']]=row['NBRatingTest']
    del dfDico

    d2={}
    for i in d:
        d2[i]={}
        for j in range(6):
            d2[i][j]=rmse(d[i][j])

    d3={}
    for i in d:
        d3[i]={}
        for j in range(6):
            d3[i][j]=avg(d[i][j])

    listAR=list()
    for i in d2 :
        listAR.append(np.array([[int(i),int(dRatingsTrain[i]), int(dRatingsTest[i]),
                                 d2[i][0], d2[i][1], d2[i][2], d2[i][3], d2[i][4], d2[i][5],
                                 d3[i][0], d3[i][1], d3[i][2], d3[i][3], d3[i][4], d3[i][5]]]))
    arRes=np.concatenate(listAR)
    dfRes=pd.DataFrame({nameColumms[0]:arRes[:,0],nameColumms[1]:arRes[:,1],nameColumms[2]:arRes[:,2],nameColumms[3]:arRes[:,3],
                        nameColumms[4]:arRes[:,4],nameColumms[5]:arRes[:,5],nameColumms[6]:arRes[:,6],nameColumms[7]:arRes[:,7],
                        nameColumms[8]:arRes[:,8],nameColumms[9]:arRes[:,9],nameColumms[10]:arRes[:,10],nameColumms[11]:arRes[:,11],
                        nameColumms[12]:arRes[:,12],nameColumms[13]:arRes[:,13],nameColumms[14]:arRes[:,14]})

    dfRes.to_csv('data/uRMSE_uMAE_fold_'+str(fold)+'.csv',index=False)
    listDfRes.append(dfRes)

In [28]:
dfRes=pd.concat(listDfRes)
dfRes.to_csv('data/uRMSE_uMAE_full.csv',index=False)

In [29]:
dfRes.head()

,UserId,Number of rated movies in the training dataset,Number of rated movies in the testing dataset,"RMSE SVD, per user","RMSE NMF, per user","RMSE SlopeOne, per user","RMSE CoClustering, per user","RMSE NormalPredictor, per user","RMSE BaselineOnly, per user","MAE SVD, per user","MAE NMF, per user","MAE SlopeOne, per user","MAE CoClustering, per user","MAE NormalPredictor, per user","MAE BaselineOnly, per user"
0,123584.0,59.0,14.0,0.687660,0.717521,0.767314,0.632548,1.971980,0.812434,0.455423,0.543084,0.552585,0.471844,1.716962,0.627261
1,271812.0,19.0,4.0,0.966592,0.941997,0.989250,0.963240,1.626498,1.069648,0.812463,0.754611,0.793566,0.794991,1.357510,0.882982
2,48040.0,12.0,3.0,0.607444,0.645599,0.683285,0.635461,0.348450,0.515134,0.547612,0.644758,0.665884,0.449114,0.332764,0.426383
3,211727.0,9.0,1.0,0.476921,0.500245,0.749000,0.995428,0.097800,0.691819,0.476921,0.500245,0.749000,0.995428,0.097800,0.691819
4,153000.0,111.0,27.0,0.829110,0.795194,0.838632,0.848655,1.565201,0.796862,0.603365,0.579153,0.616916,0.628038,1.264826,0.597066

In [22]:
del d,d3,d2,df

In [30]:
len(dfRes)

693840

In [27]:
cpt=0
for df in listDF :
    print(len(df))
    cpt+=len(df)

    
print("tot = ",cpt)

1368522
1368522
1368522
1368522
1475275
1368522
1368522
1368522
1368522
1475275
tot =  13898726

In [32]:
cpt2=0
lres=list()
for fold in range(10):
    dfTemp=pd.read_csv('data/uRMSE_uMAE_fold_'+str(fold)+'.csv')
    print(len(dfTemp))
    cpt2+=len(dfTemp)
    lres.append(dfTemp)
    
print("tot = ",cpt2)

69384
69384
69384
69384
69384
69384
69384
69384
69384
69384
tot =  693840

In [33]:
ar=dfRes.to_numpy()

In [34]:
t=len(ar)
d={}
for i in range(t) :
    ID=ar[i,1]
    if ID not in d:
        d[ID]={}
        for j in range(6):
            d[ID][j]=[ar[i,3+j]]
    else :
        for j in range(6):
            d[ID][j].append(ar[i,3+j])

In [35]:
d2={}
for i in d:
    d2[i]={}
    for j in range(6):
        d2[i][j]=avg(d[i][j])

In [36]:
listAR=list()
for i in d2 :
    listAR.append(np.array([[int(i), d2[i][0], d2[i][1], d2[i][2], d2[i][3], d2[i][4], d2[i][5]]]))

In [37]:
arRes=np.concatenate(listAR)

In [38]:
nameColumms=['Number of rated movies']
for name in algoListe[:6] :
    nameColumms.append('avg RMSE '+name)

In [39]:
dfRes=pd.DataFrame({nameColumms[0]:arRes[:,0],nameColumms[1]:arRes[:,1],nameColumms[2]:arRes[:,2],nameColumms[3]:arRes[:,3],
                    nameColumms[4]:arRes[:,4],nameColumms[5]:arRes[:,5],nameColumms[6]:arRes[:,6]})

In [40]:
dfRes.head()

,Number of rated movies,avg RMSE SVD,avg RMSE NMF,avg RMSE SlopeOne,avg RMSE CoClustering,avg RMSE NormalPredictor,avg RMSE BaselineOnly
0,59.0,0.802748,0.862846,0.851017,0.857406,1.435449,0.853857
1,19.0,0.826399,0.871345,0.850937,0.866425,1.398160,0.860194
2,12.0,0.896664,0.931939,0.912579,0.960325,1.411827,0.925131
3,9.0,0.812171,0.842517,0.821928,0.832217,1.273643,0.837821
4,111.0,0.765671,0.827285,0.818269,0.831242,1.390092,0.819402

In [41]:
dfRes.to_csv('data/RMSEavg_cv.csv',index=False)