# Dataset Analyse

to run this code, you need to create two folders (data, dataCV) and add the file ratings of the dataset that you want to analyze in the data folder

### Importing library

In [1]:
import pandas as pd
import numpy as np

### Importing and cleaning dataset

I choose not to import the columns timestamp, because I don't need it for the recommender system algorithms that I will use

In [3]:
df=pd.read_csv('data/ratings.csv',usecols=['userId','movieId','rating'])

In [4]:
df.head()

   userId  movieId  rating
0       1      307     3.5
1       1      481     3.5
2       1     1091     1.5
3       1     1257     4.5
4       1     1449     4.5

In [5]:
df.describe()

             userId       movieId        rating
count  2.775344e+07  2.775344e+07  2.775344e+07
mean   1.419420e+05  1.848800e+04  3.530445e+00
std    8.170740e+04  3.510263e+04  1.066353e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    7.117600e+04  1.097000e+03  3.000000e+00
50%    1.420220e+05  2.716000e+03  3.500000e+00
75%    2.124590e+05  7.150000e+03  4.000000e+00
max    2.832280e+05  1.938860e+05  5.000000e+00

In [6]:
len(df)

27753444

This dataset is to big for my computer, the algorithms that I will use take too much compilation time. I took the decision to reduce by four the size of the dataset.
To keed the same type of repatition I choose to select randomly 25% of the users from the foul dataset.

### Reduce the dataset

The ML-latest datset is sort by userId and it's mandatory for the proper functioning of the algorithms that follow

This algorythme return a number of line such as the userId of this line is the one passed in parameter. Id must be an userId in the dataset, ar must be a numpy array.

In [7]:
def searchLineId(Id,ar):
    a=0
    b=len(ar)
    l=b//2
    while(ar[l,0]!=Id):
        if (ar[l,0]>Id):
            b=l
        else :
            a=l
        l=a+(b-a)//2
    return l

This algorythme return a number of line such as the userId of this line before this one isn't the one passed in parameter. Id must be an userId in the dataset, l must by a line where userId==Id, ar must by a numpy array.

In [8]:
def searchFirstLine(Id,l,ar):
    cpt=l
    while(ar[cpt-1,0]==Id):
        cpt-=1
    return cpt

This algorythme return a number of line such as the userId of this line after this one isn't the one passed in parameter. Id must be an userId in the dataset, l must by a line where userId==Id, ar must by a numpy array.

In [9]:
def searchLastLine(Id,l,ar):
    cpt=l
    while(ar[cpt+1,0]==Id):
        cpt+=1
    return cpt

This algorithme return listAR pass in parmameter whith all the ratings of the user Id. Id must be an userId in the dataset, listAR must be a list, ar must by a numpy array.

In [10]:
def addUser(listAR,ar,Id):
    l=searchLineId(Id,ar)
    fL=searchFirstLine(Id,l,ar)
    lL=searchLastLine(Id,l,ar)
    
    for i in range(lL-fL+1):
        listAR.append([ar[fL+i]])
    return listAR

I change the dataframe in a numpy array beacause the manipulation of the line is really faster whith numpy.

In [12]:
ar=df.to_numpy()

I search the maximum userId to know exactly how many user there is in the dataset

In [14]:
df.max()

userId     283228.0
movieId    193886.0
rating          5.0
dtype: float64

listId will be the list of user in the reduce dataset, with that fonction I choose 25% of user in the dataset

In [17]:
listeId=np.random.choice(np.array(range(1,283229)), 283228//4, replace = False)

I create the new dataset

In [19]:
listAR=list()
for i in listeId :
    listAR=addUser(listAR,ar,i)

In [20]:
a=np.concatenate(listAR,axis=0)
dfNew = pd.DataFrame({'userId':a[:,0],'movieId':a[:,1],'rating':a[:,2]})

I choose to save the new dataset in parquet because it's faster to read and it takes fewer places in memory, it's a compressd file

In [22]:
dfNew.to_parquet('data/ratings.gzip', compression='gzip',index=False)

In [23]:
len(dfNew)/len(df)

0.2471196367557122