# Results formatting

In that part we will fromatting the results because all the algorithms have 10 diffrent RMSE for each interval and we will calculate the average for each algorithms.

In [1]:
import pandas as pd

The next function return the list l1 with all the element divided by a

In [2]:
def div(l1,a):
    l=list()
    for i in range(len(l1)):
        l.append(l1[i]/a)
    return l

the next function return a list l such as l[i]=l1[i]+l2[i]. l1 and l2 ust have the same size

In [3]:
def fusion(l1,l2):
    l=list()
    for i in range(len(l1)):
        l.append(l1[i]+l2[i])
    return l

The next function make an average of all the results for each algoritms and return it into a dictionary

In [45]:
def resultFinal(results):
    nbFold=10
    
    n=list(results.keys())
    name=list()
    for i in range(0,len(n),nbFold):
        name.append(n[i][:-1])
    resultsFinal={}
    print (name)
    for i in range(len(n)):
        if i/nbFold-i//nbFold==0 :
            if i!=0 :
                resultsFinal[name[i//nbFold-1]]=div(lTemp,nbFold)
            lTemp=results[n[i]]
        else :
            lTemp=fusion(lTemp,results[n[i]])
        #print(lTemp[0])
    resultsFinal[name[-1]]=div(lTemp,nbFold)
    return resultsFinal

In [5]:
def inteName(i):
    if i==0:
        return "1-9"
    elif i<10:
        return str(int(i*10))+"-"+str(int(i*10+9))
    elif i>=50:
        return 'sup500'
    else :
        return str(int(i*10))+"-"+str(int(i*10+49))

In [38]:
df=pd.read_csv('data/resultRMSEbyInterval_1.csv')

In [39]:
df

,algoName,RMSE_All,RMSE_<20,RMSE_20+,RMSE_1-9,RMSE_10-19,RMSE_20-29,RMSE_30-39,RMSE_40-49,RMSE_50-59,...,MAE_90-99,MAE_100-149,MAE_150-199,MAE_200-249,MAE_250-299,MAE_300-349,MAE_350-399,MAE_400-449,MAE_450-499,MAE_sup500
0,NMF0,1.251708,1.336878,0.964867,1.367530,1.095043,1.048740,1.020896,0.997869,0.970965,...,0.704698,0.706330,0.694043,0.700301,0.691466,0.698467,0.704500,0.691654,0.700510,0.689350
1,NMF1,1.251793,1.336734,0.966009,1.367142,1.097062,1.049703,1.014921,1.001286,0.974915,...,0.710413,0.705143,0.693959,0.698614,0.688932,0.698219,0.705260,0.683798,0.701365,0.691202
2,NMF2,1.251069,1.335739,0.966485,1.366095,1.096510,1.053284,1.022710,1.000137,0.974090,...,0.701839,0.706132,0.696396,0.703872,0.695359,0.693159,0.710399,0.691386,0.707625,0.690810
3,NMF3,1.251739,1.336841,0.965038,1.367330,1.096459,1.047987,1.018080,1.001909,0.971353,...,0.704029,0.705407,0.694302,0.697706,0.693070,0.701055,0.710627,0.679409,0.703960,0.690371

In [26]:
nameColumms=list(df)

In [46]:
res={}
for index,row in df.iterrows():
    l=list()
    for i in nameColumms[1:]:
        l.append(row[i])
    res[row['algoName']]=l

In [47]:
resultsf=resultFinal(res)

['NMF']

In [48]:
resultsf

{'NMF': [1.2515771491852021,
  1.336548023018124,
  0.9655998846058256,
  1.3670242311405003,
  1.096268643694273,
  1.0499286275420878,
  1.0191516295928054,
  1.0003002513335686,
  0.9728308150988672,
  0.9600465967686901,
  0.9556417034120391,
  0.9514034309579812,
  0.9305725755983829,
  0.9261647045493675,
  0.9080107020331147,
  0.9100916290522008,
  0.9036974599045356,
  0.9064374979185608,
  0.9216620252543694,
  0.8919612088403138,
  0.9047947625643288,
  0.8991027855276658,
  0.9556166591289331,
  1.0334576955042287,
  0.7321822152180562,
  1.0628937842671409,
  0.8246212111034744,
  0.7912360959628467,
  0.7694553621296183,
  0.754695470141529,
  0.7345545684333177,
  0.7226321763047363,
  0.7268092134456383,
  0.7198586053545812,
  0.7052448123618761,
  0.7057532140638503,
  0.6946750192992878,
  0.7001232001013996,
  0.6922066948053458,
  0.6977247604777665,
  0.7076965059584513,
  0.6865617071603074,
  0.703364861070139,
  0.6904331889711375]}

In [49]:
dfbis=pd.DataFrame(columns =nameColumms)
for key in resultsf:
    dfbis.loc[len(dfbis)]=[key]+resultsf[key]

In [52]:
dfbis

,algoName,RMSE_All,RMSE_<20,RMSE_20+,RMSE_1-9,RMSE_10-19,RMSE_20-29,RMSE_30-39,RMSE_40-49,RMSE_50-59,...,MAE_90-99,MAE_100-149,MAE_150-199,MAE_200-249,MAE_250-299,MAE_300-349,MAE_350-399,MAE_400-449,MAE_450-499,MAE_sup500
0,NMF,1.251577,1.336548,0.965600,1.367024,1.096269,1.049929,1.019152,1.000300,0.972831,...,0.705245,0.705753,0.694675,0.700123,0.692207,0.697725,0.707697,0.686562,0.703365,0.690433
0,BaselineOnly,1.001346,1.046035,0.863386,1.054788,0.981406,0.942208,0.915571,0.899244,0.874065,...,0.617804,0.618913,0.606534,0.612871,0.598105,0.610207,0.610933,0.598512,0.623345,0.569258
1,SVD,1.003280,1.045762,0.873034,1.055124,0.976451,0.941584,0.918120,0.904743,0.881577,...,0.616595,0.621440,0.612162,0.620954,0.606271,0.620348,0.621391,0.607048,0.637894,0.583528

In [53]:
dfbis.to_csv('data/resultRMSEbyInterval_V1.csv',index=False)