In [5]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('data/ratings_Books.csv',usecols=[0,1,2],names=['userId','itemId','rating'])

In [3]:
df.head()

           userId      itemId  rating
0   AH2L9G3DQHHAJ  0000000116     4.0
1  A2IIIDRK3PRRZY  0000000116     1.0
2  A1TADCM7YWPQ8M  0000000868     4.0
3   AWGH7V0BDOJKB  0000013714     4.0
4  A3UTQPQPM4TQO0  0000013714     5.0

In [5]:
df.to_parquet('data/ratings_Books.gzip',compression='gzip',index=False)

In [2]:
df=pd.read_parquet('data/ratings.gzip')

In [4]:
len(df)

22507155

In [6]:
ar=df.to_numpy()

In [7]:
dicoId={}
dicoAr={}
t=len(ar)
idCpt=1
for i in range(t):
    ID=ar[i,0]
    if ID in dicoId :
        dicoAr[dicoId[ID]].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
    else :
        dicoId[ID]=idCpt
        dicoAr[idCpt]=list()
        dicoAr[idCpt].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
        idCpt+=1

In [8]:
listAR=list()
for i in dicoAr:
    listAR+=dicoAr[i]

In [9]:
len(listAR)==len(df)

True

In [10]:
len(df)

22507155

In [11]:
listARbis=list()
pas=100000
n=len(listAR)//pas
for i in range(n):
    listARbis.append(np.concatenate(listAR[i*pas:(i+1)*pas]))
listARbis.append(np.concatenate(listAR[n*pas:]))

In [12]:
arbis=np.concatenate(listARbis)

In [13]:
len(arbis)

22507155

In [14]:
dfbis=pd.DataFrame({'userId':arbis[:,0],'movieId':arbis[:,1],'itemId':arbis[:,2]})

In [15]:
dfbis.head()

  userId     movieId itemId
0      1  0000000116    4.0
1      1  0553107755    5.0
2      2  0000000116    1.0
3      2  0553562738    1.0
4      2  0553588958    3.0

In [16]:
dfbis.to_parquet('data/ratings.gzip',compression='gzip',index=False)