In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data/ratings_Electronics.csv',usecols=[0,1,2],names=['userId','itemId','rating'])

In [3]:
df.head()

           userId      itemId  rating
0   AKM1MP6P0OYPR  0132793040     5.0
1  A2CX7LUOHB2NDG  0321732944     5.0
2  A2NWSAGRHCP8N5  0439886341     1.0
3  A2WNBOD3WNDNKT  0439886341     3.0
4  A1GI0U4ZRJA8WN  0439886341     1.0

In [4]:
df.to_parquet('data/ratings_Books.gzip',compression='gzip',index=False)

In [2]:
df=pd.read_parquet('data/ratings.gzip')

In [5]:
len(df)

7824482

In [6]:
ar=df.to_numpy()

In [ ]:
dicoId={}
dicoAr={}
t=len(ar)
idCpt=1
for i in range(t):
    ID=ar[i,0]
    if ID in dicoId :
        dicoAr[dicoId[ID]].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
    else :
        dicoId[ID]=idCpt
        dicoAr[idCpt]=list()
        dicoAr[idCpt].append(np.array([[dicoId[ID],ar[i,1],ar[i,2]]]))
        idCpt+=1

In [ ]:
listAR=list()
for i in dicoAr:
    listAR+=dicoAr[i]

In [ ]:
len(listAR)==len(df)

In [ ]:
len(df)

In [ ]:
listARbis=list()
pas=100000
n=len(listAR)//pas
for i in range(n):
    listARbis.append(np.concatenate(listAR[i*pas:(i+1)*pas]))
listARbis.append(np.concatenate(listAR[n*pas:]))

In [12]:
arbis=np.concatenate(listARbis)

In [13]:
len(arbis)

22507155

In [14]:
dfbis=pd.DataFrame({'userId':arbis[:,0],'movieId':arbis[:,1],'itemId':arbis[:,2]})

In [15]:
dfbis.head()

  userId     movieId itemId
0      1  0000000116    4.0
1      1  0553107755    5.0
2      2  0000000116    1.0
3      2  0553562738    1.0
4      2  0553588958    3.0

In [16]:
dfbis.to_parquet('data/ratings.gzip',compression='gzip',index=False)